.card {
	margin-bottom: 9px;
}

.navButtons {
	display: flex;
	justify-content: space-between;
}

.delButton {
	position: absolute;
	right: 20px;
	font-size: x-large;
	cursor: pointer;
}

.checkbox {
	position: absolute;
	right: 60px;
}