.card {
	margin-bottom: 9px;
	width: 100%;
	overflow-x: hidden;
}

.card__checked {
	@extend .card;
	background-color: #fafafa;
}

.delButton {
	position: absolute;
	right: 20px;
	font-size: x-large;
	cursor: pointer;
}

.checkbox {
	position: absolute;
	right: 60px;
}

.text {
	overflow-x: hidden;
	text-overflow: ellipsis;
}
